@using twAspnet.Controllers;
@using CoreTweet;

<div class="text-center">
    <h1 class="display-4">Twitter #Search</h1>
    <div style="display:inline-flex">
        <form asp-controller="Enviroment" asp-action="Index" method="post">
            <input type="text" name="search" value="@ViewBag.Search" />
            <input type="submit" value="検索" />
        </form>
    </div>

    <div class="box-header">
        <h3 class="box-title">検索結果</h3>
    </div>

    <div class="box-body">

        @if ((bool)ViewData["searched"])
            @foreach (var item in (CoreTweet.SearchResult)ViewData["result"])
            {
                <blockquote class="twitter-tweet" data-lang="ja">@item.Text &mdash; @item.User.ScreenName (@item.User.Name) <a href="https://twitter.com/@item.User.ScreenName/status/@item.User.Id?ref_src=twsrc%5Etfw">@item.CreatedAt</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <form asp-controller="Enviroment" asp-action="RegisterFavorite" method="post">
                    <input type="hidden" name="searchTweet" value="@item.Text">
                    <input type="hidden" name="searchScreenName" value="@item.User.ScreenName">
                    <input type="hidden" name="searchName" value="@item.User.Name">
                    <input type="hidden" name="searchId" value="@item.User.Id">
                    <input type="hidden" name="searchCreatedAt" value="@item.CreatedAt">
                    <input type="submit" value="お気に入り登録" />
                </form>
            }
    </div>
</div>
<p>Learn about <a href="https://www.google.co.jp/">ASP.NET Core MVC</a>.</p>

<body>
    <form method="post">
        <fieldset>
            <legend>Add Customer</legend>
            <div>
                <label for="CompanyName">Company Name:</label>
                <input type="text" name="CompanyName"
                       value="@Request.Form["companyname"]" />
                @Html.ValidationMessage("companyname")
            </div>
            <div>
                <label for="ContactName">Contact Name:</label>
                <input type="text" name="ContactName"
                       value="@Request.Form["contactname"]" />
                @Html.ValidationMessage("contactname")
            </div>
            <div>
                <label for="Employees">Employee Count:</label>
                <input type="text" name="Employees"
                       value="@Request.Form["employees"]" />
                @Html.ValidationMessage("employees")
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</body>

@{
    if (IsPost)
    {
        string companyname = Request.Form["companyname"];
        string contactname = Request.Form["contactname"];
        int employeecount = Request.Form["employees"].AsInt();

        <text>
            You entered:
            <br />
            Company Name: @companyname
            <br />
            Contact Name: @contactname
            <br />
            Employee Count: @employeecount
            <br />
        </text>
    }
}