@using twAspnet.Controllers;
@using CoreTweet;
@using twAspnet.Models;

<div class="text-center">
    <h1 class="display-4">Twitter #Search</h1>
    <div style="display:inline-flex">
        <form asp-controller="Enviroment" asp-action="Index" method="post">
            <input type="text" name="search" value="@ViewBag.Search" placeholder="検索" />
            <input type="submit" value="検索" />
        </form>
    </div>

    <div class="box-header">
        <h3 class="box-title">検索結果</h3>
    </div>

    <div class="box-body">
        @if((bool)ViewData["searched"])
            @foreach (var item in (CoreTweet.SearchResult)ViewData["result"])
            {
                <blockquote class="twitter-tweet" data-lang="ja">@item.Text &mdash; @item.User.ScreenName (@item.User.Name) <a href="https://twitter.com/@item.User.ScreenName/status/@item.User.Id?ref_src=twsrc%5Etfw">@item.CreatedAt</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <form asp-controller="Enviroment" asp-action="RegisterFavorite" method="post">
                    <input type="hidden" name="searchTweet" value="@item.Text">
                    <input type="hidden" name="searchScreenName" value="@item.User.ScreenName">
                    <input type="hidden" name="searchName" value="@item.User.Name">
                    <input type="hidden" name="searchId" value="@item.User.Id">
                    <input type="hidden" name="searchCreatedAt" value="@item.CreatedAt">
                    <input type="hidden" name="searchKey" value="@ViewData["searchKey"]">
                    <input type="submit" value="お気に入り登録" />
                </form>
            }
    </div>
</div>
<p>Learn about <a href="https://www.google.co.jp/">ASP.NET Core MVC</a>.</p>
