@using twAspnet.Controllers;
@using CoreTweet;

    <div class="text-center">
        <h1 class="display-4">Twitter #Search</h1>
        <div style="display:inline-flex">
            <form asp-controller="Enviroment" asp-action="Index" method="post">
                <input type="text" name="search" value="@ViewBag.Search" />
                <input type="submit" value="検索" />
            </form>
        </div>

        <div class="box-header">
            <h3 class="box-title">検索結果</h3>
        </div>

        <div class="box-body">
            
            @if ((bool)ViewData["searched"])
                @foreach (var item in (CoreTweet.SearchResult)ViewData["result"])
                {
                    <blockquote class="twitter-tweet" data-lang="ja">@item.Text &mdash; @item.User.ScreenName (@item.User.Name) <a href="https://twitter.com/@item.User.ScreenName/status/@item.User.Id?ref_src=twsrc%5Etfw">@item.CreatedAt</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                 }
        </div>
    </div>
<p>Learn about <a href="https://www.google.co.jp/">ASP.NET Core MVC</a>.</p>
