    <div class="text-center">
    <h1 class="display-4">Twitter #Search</h1>
    <div style="display:inline-flex">
        <form action="Index" method="get">
            <input type="text" name="search" value="@ViewBag.Search"/>
            <input type="submit" value="検索" />
        </form>
        @*ページング*@
            @if(ViewBag.Prev != null)
            {
                <a asp-action="Index" asp-route-page="@ViewBag.Prev"
                   asp-route-search="@ViewBag.Search">Prev</a>
            }
            else
            {
                <span>prev</span>
            }
            @if(ViewBag.Next != null)
            {
                <a asp-action="Index" asp-route-page="@ViewBag.Next"
                   asp-route-search="@ViewBag.Search">next</a>
            }
            else
            {
                <span>next</span>
            }
    </div>
    <div id="jsChangeContents">
        @*<thead>   //データセル毎に分けてヘッダー名を表示？
            <tr>
                <th id="">試験ID</th>
                <th id="">試験名</th>
                <th id="">試験回次</th>
                <th id="">成績提供期間</th>
                <th id="">成績未受理</th>
                <th id="">未出力</th>
                <th id="">未取込</th>
                <th id="">取込済</th>
            </tr>
        </thead>*@
    </div>
    <p>Learn about <a href="https://www.google.co.jp/">ASP.NET Core MVC</a>.</p>
</div>